  :root {
    box-sizing: border-box;
    --size-none: 0;
    --fontSize-standard: 1rem;
  }

  * {
    margin: var(--size-none);
    padding: var(--size-none);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fdfffc; */
    -webkit-font-smoothing: antialiased;
  }
  
  body, button, textarea, input {
    font: 400 var(--fontSize-standard) "Roboto", sans-serif;
    outline: 0;
  }
  
  h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  [disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }